{% extends "newsletter/common.html" %}

{% load i18n %}

{% block head_title %}{{ object.title }}: {% trans "Newsletter" %}{% endblock %}

{% block page_title %}
    <h2>
        <span class="text-muted">{% trans "Newsletter" %}:</span>
        {{ object.title }}
    </h2>
{% endblock %}


{% block content %}
    <a class="btn btn-success" href="{% url "newsletter_subscribe_request" object.slug %}">{% trans "Subscribe" %}</a>

    <hr>
    <div class="btn btn-group btn-group-sm pull-right" role="group">
        <a class="btn btn-danger" href="{% url 'newsletter_unsubscribe_request' object.slug %}">{% trans "Unsubscribe" %}</a>
        <a class="btn btn-info" href="{% url 'newsletter_archive' object.slug %}">{% trans "Archive" %}</a></td>
        <a class="btn btn-link" href="{% url 'newsletter_list' %}"><i class="fa fa-backward"></i> {% trans "Go Back" %}</a>
    </div>
    <div class="clearfix"></div>
{% endblock content %}
