{% extends "newsletter/common.html" %}

{% load i18n %}

{% block head_title %}{% trans "Newsletter unsubscribe" %}{% endblock %}

{% block page_title %}
    <h4>{{ newsletter.title }}</h4>
    <h5><small class="text-danger">{% trans "Unsubscribe from the Newsletter" %}</small></h5>
{% endblock %}

{% block content %}

    {% if error %}
        <p>{% trans "Due to a technical error we were not able to submit your confirmation email. This could be because your email address is invalid." %}</p>

        {% comment %} Replace the the following dummy with a valid email address and remove this comment.

        <p>{% trans "If the error persists, please don't hesitate to contact us at the following email address:" %} <a href="mailto:info@foobar.com">info@foobar.com</a></p>

        {% endcomment %}
    {% else %}
        <form enctype="multipart/form-data" method="post" action=".">
            {% csrf_token %}
            {{ form.as_p }}
            <p><input class="btn btn-danger btn-sm" id="id_submit" name="submit" value="{% trans "Unsubscribe" %}" type="submit" /></p>
        </form>
    {% endif %}
{% endblock content %}
