{% extends "layout_light.html" %}
{% load thumbnail i18n %}
{% load static %}
{% get_media_prefix as MEDIA_PREFIX %}


{% block head_title %}{{ newsletter.title }}: {{ message.title }}{% endblock %}

{% block header_account %}{% endblock %}
{% block header_menu %}{% endblock %}

{% block page_title %}
    <h4>{{ message.title }}</h4>
    <h5><small class="text-success">{{ newsletter.title }}</small></h5>
    
{% endblock %}

{% block content %}

<div class="container-fluid">
    {% for article in message.articles.all %}
        <a href="{% if article.url %}{{ article.url }}{% else %}http://suggest.{{ site.domain }}{{ submission.get_absolute_url }}{% endif %}"><h5 class="text-primary">{{ article.title }}</h5></a>

        <div>
            <div class="">
                {% thumbnail article.image "200x200" as image %}
                    <img src="{{ MEDIA_PREFIX }}{{ image.url }}" width="{{ image.width }}" height="{{ image.height }}">
                {% endthumbnail %}
            </div>

            <div>{{ article.text|safe }}</div>

            {% if article.url %}
                <div class="text-center"><a href="{{ article.url }}" class="btn btn-primary btn-sm">{% trans "Read more" %}</a></div>
            {% endif %}
        </div>
        <hr>
    {% endfor %}
    
    <div class="well" style="border: 0px; box-shadow: none;" >
        {% if submission.publish %}
        <a class="btn btn-success btn-sm" href="http://suggest.{{ site.domain }}{{ submission.get_absolute_url }}">{% trans "Read message online" %}</a>
        {% endif %}
        <a class="btn btn-warning btn-sm" href="http://suggest.{{ site.domain }}{% url "newsletter_unsubscribe_request" newsletter.slug %}">{% trans "Unsubscribe" %}</a>
        <a class="btn btn-primary btn-sm pull-right strong" href="http://{{ site.domain }}">{{ site.name }}</a>
    </div>

</div>

{% endblock %}
