body{
    padding-top: 50px;
}
.filter-select{
    max-width: 100%;
}

.navbar-brand>img {
    max-height: 100%;
}

#main-nav{
    background: url('../img/odp-banner.png');
    background-size: 100% 70px;
}

.page-header {
    margin: 23px 0;
}

.navbar-brand>img {
    max-height: 100%;
}

@media (min-width: 768px){
    .list-title {
        padding-left: 80px;
    }
}

@media (max-width: 768px){
    #main-nav .navbar-collapse{
        background: #fff;
    }
}

.messages .alert-info {
    background-color: #4B95B1;
}
