body{
    font-family: 'Open Sans', sans-serif;
    font-size: 13px;
    line-height: 21px;
    font-weight: 300;
    color: #000;
}

body.body-light{
    padding-top: 0px;
}

.filter-select{
    max-width: 100%;
}

.navbar-brand>img {
    max-height: 100%;
}

#main-nav{
    background: url('../images/odp-banner.png');
    height: 178px;
    background-size: cover;
}

#menu-navbar-collapse{
    background: #FFFFFF;
    border-top: 1px solid #EEE;
}

.navbar-light#main-nav{
    height: 120px;
}

.page-header {
    margin: 23px 0;
    padding-bottom: 0px;
    font-weight: 700;
    background: #ffffff;
}

.page-header h5{
    font-weight: 700;
}

.logo {
    /* border: solid 1px green; */
    height: 110px;
    width: 125px;
    margin-top: 2px;
    background-image: url(../images/arm.png);
    background-position: left top;
    background-repeat: no-repeat;
    float: left;
    position: relative;
    display: inline-block;
}

#content-wrapper{
    background: #ffffff;
    margin-top: 20px;
}

.content{
    background: #fff;
    padding: 10px 30px 20px 30px;
}

.breadcrumb{
    margin-top: 15px;
}

.page-header .content{
    padding: 0 30px 0 30px;
}

.input-group-addon.captcha-addon{
    padding: 0;
    width: auto;
}
@media (min-width: 768px){
    .list-title {
        padding-left: 80px;
    }
    .container{
        margin-right: auto;
        margin-left: auto;
    }
}

@media (max-width: 768px){
    body{
        padding-top: 120px;
    }

    #main-nav{
        height: 120px;
    }

    .logo {
        /* border: solid 1px green; */
        height: 80px;
        width: 70px;
    }

    body .slogan {
        height: 80px;
    }

    body .slogan #head {
        font-size: 20px;
        margin: 20px 8px 5px 2px;
        color: #08c;
        font-weight: 600;
    }

    body .slogan #foot {
        margin: 20px 7px 7px 2px;
        font-size: 10px;
    }
}

.messages .alert-info {
    background-color: #4B95B1;
}

span.select2-container--bootstrap .select2-selection {
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-box-shadow: inset 0 -1px 0 #ddd;
    box-shadow: inset 0 -1px 0 #ddd;
    border: none;
}

.select2-container--bootstrap.select2-container--focus .select2-selection,
.select2-container--bootstrap.select2-container--open .select2-selection
.select2-container--bootstrap .select2-selection:focus {
    -webkit-box-shadow: inset 0 -2px 0 #2196f3;
    box-shadow: inset 0 -2px 0 #2196f3;
}

/*==Open Data New CSS==*/
/*==Written by : Edward Nyahucho==*/
/*====e-Government Agency*/

.module-resource {
    background-color: #FFF;
    border-bottom: 1px solid #DDD;
    margin-top: 0px;
    margin-bottom: 0px;
    border-radius: 3px 3px 0px 0px;
    width: 140%;
    position: relative;
    left: -20%;
}

.resize-cont{
	width: 85%;
	position: relative;
	left: 9%;
}

.up-cont{
	width: 100%;

}

.down-cont{
	width: 100%;
	position: relative;
	left: 35px;
}

.top-fixed{
	position: fixed;
	z-index: 1000;
	width: 100%;
}

.mid-body{
	height: 184px;
}

.menu-nav a:visited {
    color: #f5f5f5;
}
.top_nav {
	background-color:#053346;
	height: 30px;
}

.header {
	background-image: url(../images/banner.png);
	background-repeat: no-repeat;
	background-position: right;
	/*border: solid 1px blue;*/
	height: 115px;
	background-color: #fff;
}

.account-masthead {
    min-height: 30px;
    color: #ffffff;
    background: #003647 url(../images/bg.png);
}

.account-masthead .account {
    float: right;
}

.account-masthead .account ul li{
    display: block;
    float: left;
    border-left: 1px solid #00232e;
}

.account-masthead .account ul li a {
    display: block;
    color: #bfd7de;
    font-size: 13px;
    font-weight: bold;
    padding: 0 10px;
    line-height: 31px;
}

.account-masthead .account ul li a.sub {
    font-weight: 300;
}

.account-masthead .account ul li a:hover {
    color: #d9e7eb;
    background-color: #00232e;
    text-decoration: none;
}

ul, lo {
    padding: 0;
}

ul.unstyled, ol.unstyled {
    margin-left: 0;
    list-style: none;
}

.menu .container{
    width: 940px;
}

.menu-nav>li{
	list-style-type: none;
	display: inline;
	color: #fff;
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	padding-right: 20px;
	line-height: 40px;
}

.menu-nav>li.active{
    width: auto;
    height: auto;
    background-color: #ccc;
    padding-top:12px;
    padding-bottom: 12px;
    padding-left: 20px;
}

.menu-nav>li.active>a{
   color: #444;
}

.right-menu{
	float: left;
	position: relative;
	left: -2.5%;
	

}
.simple-input .field input {
    width: 100%;
    height: auto;
    margin: 0px -7px;
    padding: 9px 5px;
}
.righty-menu{
	width: 66%;
	float: left;
	position: relative;
	left: -2.5%;
}
.left-menu{
	width: 30%;
	float: right;
}
.lefty-menu{
	width: 34%;
	float: right;
}
.check{
	border: solid 1px red;
}

 li>input{
 	padding-right: 0px;
 	margin-top: 5px;
 	float: right;
 	width:314px;
 	border-radius:4px;
}

.menu-nav a {
	color: #fff;
}
.menu-nav  a:hover{
	color: #fff;
}

.sector {
	/*
	background-repeat: no-repeat;
	background-position: right;*/
	background-image: url(../images/sector.png);
	/*border: solid 1px blue;*/
	height: 190px;
}

.thumb-width{
   float: left;
   padding-left:80px;
   padding-right: 60px;
}

.sector-thumb {
	position: relative;
	left: 220px;
	top: 20px;
}

.sector-head{
 display: block;
	color:#053346; 
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	 margin-left: auto;
     margin-right: auto;
     text-align: center;
}

.sector-cont{
	position: relative;
	top: 20px;
}

.desc{
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	 margin-left: auto;
     margin-right: auto;
	font-size: 90%;
	width: 150px;
	text-align: center;
}

.menu {
	/*border: solid 1px red;*/
	background-color:#146c89;
	height: 40px;
}

.logo_wrap {
	/*border: solid 1px red;*/
	width: 1160px;
	margin: 0px auto;
	overflow: hidden;
}

.slogan {
	float: left;
	/*border: solid 1px red;*/
	height: 110px;
    display: inline-block;
}

.slogan #head {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 30px;
	margin: 30px 10px 5px 2px;
	color: #08c;
    font-weight: 600;
}

#head span {
	border: solid 3px #08c;
	padding: 1px 5px;
	font-weight: bold;
	margin: 0px 3px 0px 0px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
}

.slogan #foot {
	margin: 27px 10px 10px 2px;
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 15px;
	font-weight: bold;
}

.sidebar {
	/*border: solid 1px red;*/
	float: left; 
	overflow: hidden;
	padding-bottom: 2px;
	margin: 10px 0px 10px 5px;
}

.dataset-item {
    margin-bottom: 20px;
    padding-top: 15px;
    border-bottom: 1px dashed #DDD;
}

.more-button{
    display: inline;
    padding:7px;
    font-size: 75%;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25em;
    background-color: #424242;
    position: relative;
    left: 86%;
}

.well-data {
  position: relative;
}

.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #fff;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}

.footer {
	background-color:#146c89;
	height: 100px;
	position: relative;
	top: 150px;
	width: 100%;
}
.footer a {
    color: #fff;
}
.footer-size{
	text-align: center;
	width: 90%;
	position: relative;
	left: 40px;
	top: 10px;
	background-color:#146c89;
	height: 70px;
	color: #fff; 
	font-size: 80%;
}

.text-box{
    padding: 10px;
    font-size: 1.2em;
}

.alert-info {
    color: #fff;
}
