{% load i18n %}

<div class="">
    <div class="footer">
    <div class="container">
        <div class="">
            <div class="footer-size  ">
                <a href="http://opendata.go.tz/pages/kanuni-na-masharti">{% trans "Terms &amp; Conditions " %}</a>  |
                <a href="http://opendata.go.tz/pages/policy">{% trans "Privacy Policy" %}</a> |
                <a href="http://opendata.go.tz/pages/hakimiliki">{% trans "Copyright Notice" %}</a> |
                <a href="http://opendata.go.tz/pages/wasiliana-nasi">{% trans "Contact us" %}</a><br>
                {% trans "The Tanzania Open Government Data Portal is designed and developed by e-Government Agency." %}
            </div>
        </div>
    </div>
</div>
