{% extends 'layout.html' %}

{% load i18n %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans 'Feedback' %}{% endblock %}

{% block page_title %}
    <h1><small>{% trans 'We would like to hear your feedback' %}</small></h1>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="well">
            <form class="form" method="POST">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="form-group text-right">
                    <a href="{% url 'dataset-list' %}" class="btn btn-default">{% trans "Cancel" %}</a>
                    <input type="submit" value="Submit" class="btn btn-primary">
                </div>
            </form>
        </div>
    </div>

<div>
    {% include 'includes/page_share_buttons.html' %}
</div>

{% endblock content %}
